[submodule "reveal.js"]
	path = reveal.js
	url = git://github.com/hakimel/reveal.js
	branch = master
[submodule "qrcodejs"]
	path = qrcodejs
	url = git://github.com/davidshimjs/qrcodejs
	branch = master
